<div class="container">
  <h1>Chat</h1>
  <div class="chat-write">
    <%= form_with(url: main_save_path, method: :post) do |f| %>
      <div class="form-group">
        <%= f.text_area :content, class: "form-control responsive-textarea", placeholder: "Write your message here..." %>
      </div>
      <%= f.submit "Send", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div class="chat-container">
  <h1>File Content</h1>
    <div class="chat-content">
      <div class="form-group">
        <textarea class="form-control responsive-textarea" readonly><%= @chat_history %></textarea>
    </div>
    <div class="erase-button">
      <%= form_with(url: main_erase_history_path, method: :delete, data: { confirm: "Are you sure you want to erase the File Content" }) do |f| %>
      <%= f.submit "Erase File Content", class: "btn btn-primary" %>
    <% end %>
    </div>
  </div>
</div>